<div class="container">
  <h1>Welcome to Angular 20 Series 🚀</h1>
  <p>This series will cover all the latest and most powerful features introduced in Angular 20.</p>

  <ul>
    <li><a routerLink="/standalone-components">Standalone Components</a></li>
    <li><a routerLink="/signals">Signals & Reactivity</a></li>
    <li><a routerLink="/inputs-and-model">Inputs and model</a></li>
    <li><a routerLink="/control-flow">Control Flow (if, for)</a></li>
    <li><a routerLink="/routing">Routing with loadComponent</a></li>
    <li><a routerLink="/route-guards">Route Guards (canMatch)</a></li>
    <li><a routerLink="/forms">Forms</a></li>
    <li><a routerLink="/di">Dependency Injection</a></li>
    <li><a routerLink="/performance">Performance Optimization</a></li>
    <li><a routerLink="/ssr">Server Side Rendering</a></li>
    <li><a routerLink="/migration">Migration Guide</a></li>
  </ul>
</div>
<div class="footer">
  <p>© 2023 Angular 20 Series. All rights reserved.</p>
</div>
