<div>
  <ol class="list-group list-group-numbered">
    @for(task of taskList(); track task.name) {
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{task?.name}}</div>
        {{task?.description}}
      </div>
      <span class="d-flex gap-2">
        <button class="btn btn-outline-info" (click)="editTask(task)">edit</button>
        <button class="btn btn-outline-danger"(click)="deleteTaskById(task)">delete</button>
      </span>
    </li>
    }
    @empty{
      <p>No items in the list.</p>
    }
  </ol>
</div>
